* {
  font-family: "Fira Code";
}

#waybar {
  /* background: #171717; */
  background: none;
  color: #fff;

}

#clock {
  color: #fff;
}

#tray {
  padding-left: 4px;
}

#workspaces button:hover {
  background-color: transparent;
}

#workspaces button {
  color: #737373;
  padding-left: 4px;
  padding-right: 4px;
  border-radius: 0px;
}

#workspaces button:hover {
  background-color: #262626;
}

#workspaces button.active {
  color: #84cc16;
}

#window {
  color: #fff;
}

#network {
  color: #3b82f6;
  margin-right: 8px;
}

#pulseaudio {
  color: #fff;
  margin-right: 4px;
}

#cpu {
  color: #0ea5e9;
  margin-right: 4px;
}

#temperature {
  color: #eab308;
  margin-right: 4px;
}

#memory {
  color: #d946ef;
  margin-right: 4px;
}

#custom-powermenu {
  color: #f43f5e;
}
